.kontent {
  display: flex;
  justify-content: center;
}

.karta {
  // width: 200px;
  margin-bottom: 15px;
}

#menu {
  margin: 10px;
}

.imhere {
  background-color: rgb(87, 117, 172);
  color: white;
  font-weight: bold;
}
