<main>
  <span *ngIf="userIsAuthenticated">
    <div id="menu">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle routerLink="/glownemenu">STRONA GŁÓWNA</mat-button-toggle>
        <mat-button-toggle routerLink="/lazy/szkodliwe">Substancje Szkodliwe</mat-button-toggle>
        <mat-button-toggle class="imhere"><b>Dodaj substancję</b></mat-button-toggle>
        <mat-button-toggle (click)="logout()">{{ this.loggedInUser.name }} {{ this.loggedInUser.surname }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-card>
      <!-- template driven form -->




      <form [formGroup]="form" (submit)="onSaveSzkodliwa()">
        <button *ngIf="dispFields.buttonDodajKontr" mat-raised-button color="primary" type="submit">
          Zapisz informację o substancji
        </button>
        &nbsp;
        <button mat-raised-button color="primary" type="button" (click)="powrot()">
          Anuluj
        </button>
        <h4>Informacje o dodawanej substancji</h4>


        <mat-form-field>
          <input matInput type="text" formControlName="nazwaPelna" placeholder="nazwa substancji" />
        </mat-form-field>
        <div>
          <mat-form-field class="nipfield2">
            <input matInput type="number" formControlName="ilosc" placeholder="ilość" />
          </mat-form-field>
          <mat-form-field class="nipfield2">
            <mat-label>jednostka</mat-label>
            <mat-select formControlName="jednostka">
              <mat-option value='µl'>µl</mat-option>
              <mat-option value='ml'>ml</mat-option>
              <mat-option value='l'>l</mat-option>
              <mat-option value='g'>g</mat-option>
              <mat-option value='kg'>kg</mat-option>
              <mat-option value='sztuki'>sztuki</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="nipfield2">
            <input matInput type="number" formControlName="rok" placeholder="rok" />
          </mat-form-field>
        </div>



        <mat-form-field class="nipfield">
          <input matInput type="text" formControlName="cas" placeholder="numer CAS" />
        </mat-form-field>

        <!-- rodzaje zagrożeń -->

        <div class="limitkred2">
          <div class="div2b">
            <mat-form-field>
              <mat-label>Rodzaj zagrożenia</mat-label>
              <mat-select formControlName="zagrozenie">
                <mat-option *ngFor="let zagrozenieWyb of dictionaries[6]?.values" value="{{ zagrozenieWyb }}"
                  (click)="pokazZagrInfo()">
                  {{ zagrozenieWyb }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="!zagrozeniaInfo">
            &nbsp;
            <button mat-raised-button color="primary" (click)="dodajZagrozenie()" type="button">
              Dodaj zagrożenie do listy
            </button>
          </div>
        </div>

        <div class="limitkred2" *ngIf="zagrozeniaInfo">
          <p>Osoby pracujące z substancją</p>
        </div>

        <div class="limitkred2" *ngIf="zagrozeniaInfo">
          <div class="dl3">
            <mat-form-field>
              <input matInput type="string" formControlName="zgImie" placeholder="Imię" />
            </mat-form-field>
          </div>
          &nbsp;
          <div class="dl3">
            <mat-form-field>
              <input matInput type="string" formControlName="zgNazwisko" placeholder="Nazwisko" />
            </mat-form-field>
          </div>
          &nbsp;
          <div class="dl3">
            <mat-form-field>
              <input matInput type="string" formControlName="zgStanowisko" placeholder="Stanowisko" />
            </mat-form-field>
          </div>
        </div>

        <div class="limitkred2" *ngIf="zagrozeniaInfo">
          <div class="dl3">
            <mat-form-field>
              <input matInput type="number" formControlName="zgCzasZmiana"
                placeholder="Czas narażnia (godziny na zmianę roboczą)" />
            </mat-form-field>
          </div>
          &nbsp;
          <div class="dl3">
            <mat-form-field>
              <input matInput type="number" formControlName="zgCzasRok" placeholder="Czas narażnia (dni na rok)" />
            </mat-form-field>
          </div>
          &nbsp;
          <button mat-button color="primary" (click)="dodajOsobaZagr()" type="button">
            Dodaj osobę
          </button>
        </div>




        <div *ngIf="osobyZagrozenie.length > 0">
          <div class="tabelaDiv">
            <table mat-table [dataSource]="ososbyZagrDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="imie">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Imię</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.imie }}</td>
              </ng-container>

              <ng-container matColumnDef="nazwisko">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Nazwisko</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.nazwisko }}</td>
              </ng-container>

              <ng-container matColumnDef="stanowisko">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Stanowisko</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.stanowisko }}</td>
              </ng-container>

              <ng-container matColumnDef="czasZmiana">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Narażenie/Zmiana (h)</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.czasZmiana }}</td>
              </ng-container>

              <ng-container matColumnDef="czasRok">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Narażenie/Rok (h)</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.czasRok }}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Akcje</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button color="primary" (click)="editKonto(element)" type="button">
                    Edytuj
                  </button>
                  <button mat-button color="warn" (click)="deleteKonto(element)" type="button">
                    Usuń
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="osZagrKolumny"></tr>
              <tr mat-row *matRowDef="let row; columns: osZagrKolumny"></tr>
            </table>
          </div>
        </div>








        <div class="limitkred2" *ngIf="zagrozeniaInfo">
          &nbsp;
          <button mat-raised-button color="primary" (click)="dodajZagrozenie()" type="button">
            Dodaj zagrożenie do listy
          </button>
        </div>


        <div>
          <div class="tabelaDiv">
            <table mat-table [dataSource]="zagrozeniaDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="zagrozenie">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Typ zagrożenia</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.zagrozenie }}</td>
              </ng-container>

              <ng-container matColumnDef="osobyPracujace">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Osoby pracjujące z substancją</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">
                  <ul *ngFor="let oso of element.osobyPracujace">
                    <li>{{ oso.imie }} {{ oso.nazwisko }}
                      {{ oso.stanowisko }} {{ oso.czasZmiana }} {{ oso.czasRok }}
                    </li>
                  </ul>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Akcje</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button color="warn" (click)="deleteZagrozenie(element)" type="button">
                    Usuń
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="zagrozeniaKolumny"></tr>
              <tr mat-row *matRowDef="let row; columns: zagrozeniaKolumny"></tr>
            </table>
          </div>
        </div>



        <mat-form-field>
          <input matInput type="text" formControlName="producent" placeholder="producent" />
        </mat-form-field>
        <!-- <mat-form-field id="nipfield">
          <input matInput type="text" formControlName="miejscePrzech" placeholder="miejsce przechowywania" />
        </mat-form-field> -->

        <mat-form-field class="nipfield">
          <mat-label>miejsce przechowywania</mat-label>
          <mat-select formControlName="miejscePrzech">
            <mat-option *ngFor="let miejsce of dictionaries[5].values" value="{{ miejsce }}">{{ miejsce }}
            </mat-option>
          </mat-select>
        </mat-form-field>





        <!-- {{ dictionary.values }} -->


        <!-- <mat-accordion multi="true">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Dane siedziby, KRS, REGON
            </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput type="text" formControlName="ulica" placeholder="ulica i numer domu" />
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" formControlName="miasto" placeholder="miasto" />
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" formControlName="kod" placeholder="kod" />
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" formControlName="panstwo" placeholder="państwo" />
            </mat-form-field>
            <span class="inonerow">
              <mat-form-field>
                <input matInput type="text" formControlName="ceo" placeholder="prezes" />
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" formControlName="krs" placeholder="KRS" />
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" formControlName="regon" placeholder="REGON" />
              </mat-form-field>
            </span>
          </mat-expansion-panel>
        </mat-accordion> -->

        <!-- dane do wysyłki  -->

        <!-- <mat-accordion multi="true">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Dane do wysyłki
            </mat-expansion-panel-header>
            <div class="info">
              <p class="infop">UWAGA - jeżeli adres wysyłki jest taki sam jak adres siedziby to NIE ma potrzeby
                wypełniania poniższych pól.</p>
            </div>
            <mat-form-field>
              <input matInput type="text" formControlName="ulicaShipping" placeholder="wysyłka - ulica i numer domu" />
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" formControlName="miastoShipping" placeholder="wysyłka - miasto" />
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" formControlName="kodShipping" placeholder="wysyłka - kod" />
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" formControlName="panstwoShipping" placeholder="wysyłka - państwo" />
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion> -->

        <!-- Kolejna substancja -->

        <!-- <div *ngIf="szkodliwa.anotherContacts && szkodliwa.anotherContacts.length > 0">
          <div class="tabelaDiv">
            <table mat-table [dataSource]="contactsDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="acName">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Imię</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.acName }}</td>
              </ng-container>

              <ng-container matColumnDef="acSurname">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Nazwisko</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.acSurname }}</td>
              </ng-container>

              <ng-container matColumnDef="acEmail">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Email</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.acEmail }}</td>
              </ng-container>

              <ng-container matColumnDef="acPhone">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Telefon</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.acPhone }}</td>
              </ng-container>

              <ng-container matColumnDef="acComment">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Komentarz</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.acComment }}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Akcje</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button color="primary" (click)="editContact(element)" type="button">
                    Edytuj
                  </button>
                  <button mat-button color="warn" (click)="deleteContact(element)" type="button">
                    Usuń
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="acKolumny"></tr>
              <tr mat-row *matRowDef="let row; columns: acKolumny"></tr>
            </table>
          </div>
        </div> -->

        <!-- dodaj kontakt -->

        <!-- <div *ngIf="dodatkowyKontakt" class="itemClass">
          <mat-accordion>
            <mat-expansion-panel [expanded]=true>
              <mat-expansion-panel-header>
                <b>Dodaj kolejny kontakt</b>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput type="text" formControlName="acName" placeholder="Imię" />
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" formControlName="acSurname" placeholder="Nazwisko" />
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" formControlName="acPhone" placeholder="Telefon" />
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" formControlName="acEmail" placeholder="Email" />
              </mat-form-field>
              <mat-form-field *ngIf="this.dispFields.comments">
                <textarea matInput rows="3" formControlName="acComment" placeholder="Uwagi"></textarea>
              </mat-form-field>
              <button mat-raised-button color="primary" type="button" (click)="addContact()">
                Dodaj kontakt
              </button>
              &nbsp;
              <button mat-raised-button type="button" (click)="nextContact()" *ngIf="dodatkowyKontakt">
                Ukryj formatkę dodawania kolejnej osoby
              </button>
            </mat-expansion-panel>
          </mat-accordion>
        </div> -->


        <!-- <div class="kolejneKontaktyButt" *ngIf="!dodatkowyKontakt">
          <button mat-raised-button type="button" (click)="nextContact()">
            Dodaj kolejną osobę do kontaktu
          </button>
        </div> -->


        <!-- kolejne konto bankowe -->

        <!-- <div *ngIf="szkodliwa.bankAccounts && szkodliwa.bankAccounts.length > 0">
          <div class="tabelaDiv">
            <table mat-table [dataSource]="kontaDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="dkNazwa">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Nazwa banku</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.dkNazwa }}</td>
              </ng-container>

              <ng-container matColumnDef="dkNrKonta">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Numer konta</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.dkNrKonta }}</td>
              </ng-container>

              <ng-container matColumnDef="dkDomyslne">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Konto domyślne</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">
                  <span *ngIf="element.dkDomyslne">TAK</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Akcje</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button color="primary" (click)="editKonto(element)" type="button">
                    Edytuj
                  </button>
                  <button mat-button color="warn" (click)="deleteKonto(element)" type="button">
                    Usuń
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="dkKolumny"></tr>
              <tr mat-row *matRowDef="let row; columns: dkKolumny"></tr>
            </table>
          </div>
        </div> -->

        <!-- dodaj konto bankowe -->

        <!-- <div *ngIf="dodatkoweKonto" class="itemClass">
          <mat-accordion>
            <mat-expansion-panel [expanded]=true>
              <mat-expansion-panel-header>
                <b>Dodaj konto bankowe</b>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput type="text" formControlName="dkNazwa" placeholder="Nazwa banku" />
              </mat-form-field>
              <mat-form-field>
                <input matInput type="text" formControlName="dkNrKonta" placeholder="Numer konta" />
              </mat-form-field>
              <mat-checkbox (change)="kontoDomyslne()" [checked]="szkodliwa?.bankAccount.dkDomyslne">Konto domyślne
              </mat-checkbox>
              <div>
                <button mat-raised-button color="primary" type="button" (click)="addKonto()">
                  Dodaj konto
                </button>
                &nbsp;
                <button mat-raised-button type="button" (click)="nextKonto()" *ngIf="dodatkoweKonto">
                  Ukryj formatkę dodawania konta bankowego
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div> -->

        <!-- <div class="kolejneKontaktyButt" *ngIf="!dodatkoweKonto">
          <button mat-raised-button type="button" (click)="nextKonto()">
            Dodaj konto bankowe
          </button>
        </div> -->


        <!-- Firmy -->

        <!-- <div>
          <div class="tabelaDiv">
            <table mat-table [dataSource]="firmyDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Nazwa firmy</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Akcje</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button color="warn" (click)="deleteFirma(element)" type="button">
                    Usuń
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="firmyKolumny"></tr>
              <tr mat-row *matRowDef="let row; columns: firmyKolumny"></tr>
            </table>
          </div>
        </div> -->


        <!-- <div class="limitkred">
          <div class="div2b">
            <mat-form-field>
              <mat-label>Firma</mat-label>
              <mat-select formControlName="firma">
                <mat-option (click)="wyborFirmy(firma)" *ngFor="let firma of dictionaries[2]?.values"
                  value="{{ firma }}">{{ firma }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->


        <!-- Projekty  -->

        <!-- <div>
          <div class="tabelaDiv">
            <table mat-table [dataSource]="projektyDataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Projekt</th>
                <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.name }}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Akcje</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button color="warn" (click)="deleteProjekt(element)" type="button">
                    Usuń
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="projektyKolumny"></tr>
              <tr mat-row *matRowDef="let row; columns: projektyKolumny"></tr>
            </table>
          </div>
        </div> -->


        <!-- <div class="limitkred">
          <div class="div2b">
            <mat-form-field>
              <mat-label>Projekt</mat-label>
              <mat-select formControlName="projekt">
                <mat-option (click)="wyborProjektu(projekt)" *ngFor="let projekt of dictionaries[3]?.values"
                  value="{{ projekt }}">{{ projekt }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->

        <!-- <h4>Dane finansowe</h4> -->

        <!-- <div class="limitkred">
          <div id="div3b" *ngIf="this.dispFields.paymentDeadline">
            <mat-form-field>
              <input matInput type="number" formControlName="terminPlatnosci" placeholder="termin płatności w dniach" />
            </mat-form-field>
          </div>
          <div id="div1b" *ngIf="this.dispFields.creditLimit">
            <mat-form-field>
              <input matInput type="number" formControlName="limitKredytowy" placeholder="limit kredytowy" />
            </mat-form-field>
          </div>
          <div id="div4b" *ngIf="this.dispFields.balance">
            <mat-form-field>
              <input matInput type="number" formControlName="saldo" placeholder="saldo" />
            </mat-form-field>
          </div>
          <div class="div2b">
            <mat-form-field>
              <mat-label>Waluta</mat-label>
              <mat-select formControlName="limitKredytowyWaluta">
                <mat-option *ngFor="let waluta of dictionaries[1]?.values" value="{{ waluta }}">{{ waluta }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->

        <h4 *ngIf="this.dispFields.comments">Uwagi</h4>
        <mat-form-field *ngIf="this.dispFields.comments">
          <textarea matInput rows="4" formControlName="uwagi" placeholder="uwagi"></textarea>
        </mat-form-field>

        <!-- mat table Wybrane pliki -->

        <div class="limitkred">
          <div *ngIf="plikiLocal.length > 0">
            <div class="tabelaDiv">
              <table mat-table [dataSource]="plikiDataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Nazwa</th>
                  <td mat-cell *matCellDef="let element" class="klasaKolumny">
                    <a href="{{backendUrl}}/szkodliwe/{{element.fileName}}" target="_blank">{{ element.name }}</a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="rodzaj">
                  <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Typ</th>
                  <td mat-cell *matCellDef="let element" class="klasaKolumny">{{ element.rodzaj }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="klasaKolumny">Akcje</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-button color="warn" (click)="deletePlik(element)" type="button">
                      Usuń plik
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="plikiKolumny"></tr>
                <tr mat-row *matRowDef="let row; columns: plikiKolumny"></tr>
              </table>
            </div>
          </div>
        </div>

        <!-- dodawanie plików  -->

        <div class="limitkred">
          <form [formGroup]="formPliki" (submit)="onAddPliki()">
            <div class="div2b">
              <!-- <mat-form-field>
                <mat-label>typ pliku/plików</mat-label>
                <mat-select formControlName="typPliku">
                  <mat-option *ngFor="let plik of dictionaries[4]?.values" value="{{ plik }}"
                    (click)="ustawAktualnyTypPliku(plik)">{{ plik }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field>
                <mat-label>typ pliku/plików</mat-label>
                <mat-select formControlName="typPliku">
                  <mat-option value='specyfikacja' (click)="ustawAktualnyTypPliku('specyfikacja')">specyfikacja</mat-option>
                  <mat-option value='dokumentacja' (click)="ustawAktualnyTypPliku('dokumentacja')">dokumentacja</mat-option>
                  <mat-option value='inny' (click)="ustawAktualnyTypPliku('inny')">inny</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="div2b">
              <button mat-stroked-button type="button" (click)="filePicker.click()">Wybierz pliki</button>
              <input type="file" multiple #filePicker (change)="onFilesPicked($event)">
            </div>
            <br>
          </form>
        </div>

        <!-- przyciski zapisz anuluj -->

        <button mat-raised-button color="primary" type="submit" *ngIf="dispFields.buttonDodajKontr">
          Zapisz substancję
        </button>
        &nbsp;
        <button mat-raised-button color="primary" type="button" (click)="powrot()" *ngIf="mozliwoscAnulowania">
          Anuluj
        </button>
        <button mat-raised-button color="primary" type="button" *ngIf="!mozliwoscAnulowania" disabled>
          Anuluj
        </button>

      </form>
    </mat-card>
  </span>

  <div id="carddiv" *ngIf="!userIsAuthenticated">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nie zalogowany</mat-card-title>
        <mat-card-subtitle>Zaloguj się do systemu aby zapisać dane.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/login">
          Logowanie do systemu
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</main>
