main {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
 }

 mat-expansion-panel {
   background-color: rgba(255,255,255,0.95);
 }

 #carddiv {
   width: 100%;
   height: 50vh;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
 }

  // menu wrap
  mat-button-toggle-group {
    flex-wrap: wrap;
  }

 .example-card {
   max-width: 400px;
 }

 .example-header-image {
   background-image: url('../../../assets/icons/black-and-white-cat-icon-300-300.png');
   background-size: cover;
   background-color: darkgray;
 }

 button {
   margin: 2px;
 }

 #dispHeader {
   width: 100%;
   display: flex;
 }

 #spanSpacer {
   flex: 1 1 auto;
 }

 #spanSaldo {
   margin-right: 1rem;
 }

 #dispContent {
   width: 100%;
   display: flex;
 }

 #infoBasic {
   flex-basis: 80%;
 }

 .fullWidth {
   width: 100%;
 }

 .imhere {
   background-color: rgb(87, 117, 172);
   color: white;
 }

 #bottomPag {
   margin-top: 1px;
 }

 #topPag {
   margin-bottom: 1px;
 }

 .searchClass {
   display: flex;
   // align-items: flex-end;
   background-color: darkslategrey;
   // height: 4rem;
   margin-bottom: 1px;
 }

 .placclass {
   color: white;
   // font-weight: bold;
 }

 .formfiel {
   color: white;
   font-weight: bold;
 }

 .searchForm {
   margin-top: 15px;
 }

 .pagbottom {
   margin-top: 1px;
 }

 .mat-spinner::ng-deep circle {
   stroke: #fff;
 }

 .spin {
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
 }

 .limitkred {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }

 .itemClass {
   margin-bottom: 15px;
 }

 .klasaKolumny {
   padding-right: 10px;
   padding-left: 10px;
   text-align: center;
 }

 .tabelaDiv {
   margin-bottom: 15px;
 }

