mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

#kartaDiv {
  width: 530px;
  margin: auto;
}

.karta {
  background-color: rgba(255,255,255,0.9);
  // opacity: 0.5;
}

#logBut {
  margin-top: 10px;
}


#menu {
  margin: 10px;
}

.imhere {
  background-color: rgb(87, 117, 172);
  color: white;
  font-weight: bold;
}
