
<div id="menu" *ngIf="userIsAuthenticated">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle routerLink="/glownemenu">STRONA GŁÓWNA</mat-button-toggle>
      <mat-button-toggle class="imhere"><b>Waluty</b></mat-button-toggle>
      <mat-button-toggle (click)="logout()">{{ loggedInUser.name }} {{ loggedInUser.surname }}</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div class="container1">

    <mat-toolbar class="tytul">Narodowy Bank Polski, tabela: {{ usdMidTable }} z dnia: {{ usdEffDate }}</mat-toolbar>

  <mat-card class="card1">
    <mat-card-header class="naglowek">
      <mat-card-subtitle>Dolar Amerykański</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <p class="waluta">{{ usdMid }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/contractorslist">USD</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card1">
    <mat-card-header class="naglowek">
      <mat-card-subtitle>Euro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <p class="waluta">{{ eurMid }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/contractorslist">EUR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card1">
    <mat-card-header class="naglowek">
      <mat-card-subtitle>Rubel</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <p class="waluta">{{ rubMid }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/contractorslist">RUB</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card1">
    <mat-card-header class="naglowek">
      <mat-card-subtitle>Hrywna Ukraińska</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="cardContent">
      <p class="waluta">{{ uahMid }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/contractorslist">UAH</button>
    </mat-card-actions>
  </mat-card>

  <div id="carddiv" *ngIf="!userIsAuthenticated">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nie zalogowany</mat-card-title>
        <mat-card-subtitle>Zaloguj się do systemu aby przejść do głównego
          menu.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/login">
          Logowanie do systemu
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
