<main>
    <span *ngIf="userIsAuthenticated">
        <div id="menu">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle routerLink="/glownemenu">STRONA GŁÓWNA</mat-button-toggle>
                <mat-button-toggle routerLink="/lazy/invoice">Faktury</mat-button-toggle>
                <mat-button-toggle class="imhere"><b>Dodaj fakturę</b></mat-button-toggle>
                <mat-button-toggle (click)="logout()">{{ loggedInUser.name }} {{ loggedInUser.surname }}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <mat-card>
            <!-- template driven form -->
            <form (submit)="onSaveInvoice(invoiceCreateForm)" #invoiceCreateForm="ngForm">
                <button mat-raised-button color="primary" type="submit">
                    Zapisz fakturę
                </button>
                &nbsp;
                <button mat-raised-button type="button" color="primary" (click)="powrot()">
                    Anuluj
                </button>
                <h4>Szczegóły faktury</h4>

                <mat-form-field>
                    <input matInput type="text" name="company" [ngModel]="invoice?.company" placeholder="nazwa firmy" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" name="nip" [ngModel]="invoice?.nip" placeholder="nip" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" name="companyStreet" [ngModel]="invoice?.companyStreet"
                        placeholder="ulica" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" name="companyPostCode" [ngModel]="invoice?.companyPostCode"
                        placeholder="kod pocztowy" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" name="companyCity" [ngModel]="invoice?.companyCity"
                        placeholder="miasto" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" name="issuerLogin" [ngModel]="invoice?.issuerLogin"
                        placeholder="wprowadził" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="date" name="issueDate" [ngModel]="invoice?.issueDate"
                        placeholder="data wprowadzenia" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="date" name="sellDate" [ngModel]="invoice?.sellDate"
                        placeholder="data sprzedaży" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" name="issueCity" [ngModel]="invoice?.issueCity"
                        placeholder="miejsce wystawienia" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" name="paymentType" [ngModel]="invoice?.paymentType"
                        placeholder="typ płatności" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" name="factoring" [ngModel]="invoice?.factoring"
                        placeholder="faktoring" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" name="currency" [ngModel]="invoice?.currency" placeholder="waluta" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="date" name="currencyDate" [ngModel]="invoice?.currencyDate"
                        placeholder="data waluty" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" name="currencyRate" [ngModel]="invoice?.currencyRate"
                        placeholder="kurs waluty" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" name="tableNBP" [ngModel]="invoice?.tableNBP" placeholder="tabelNBP" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="date" name="dueDate" [ngModel]="invoice?.dueDate"
                        placeholder="termin płatności" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" name="paid" [ngModel]="invoice?.paid" placeholder="zapłacono" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" name="commission" [ngModel]="invoice?.commission"
                        placeholder="prowizja" />
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="number" name="paidCommision" [ngModel]="invoice?.paidCommision"
                        placeholder="prowizja zapłacona" />
                </mat-form-field>

                <!-- <mat-form-field>
                <textarea matInput rows="4" [ngModel]="order?.comments" name="comments" placeholder="uwagi"></textarea>
              </mat-form-field> -->

                <button mat-raised-button disabled>
                    Dodaj pozycję z asortymentu
                </button>

                <br><br>

                <button mat-raised-button color="primary" type="submit">
                    Zapisz fakturę
                </button>
                &nbsp;
                <button mat-raised-button type="button" color="primary" (click)="powrot()">
                    Anuluj
                </button>
            </form>
        </mat-card>
    </span>

    <div id="carddiv" *ngIf="!userIsAuthenticated">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Nie zalogowany</mat-card-title>
                <mat-card-subtitle>Zaloguj się do systemu aby zapisać dane.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/login">
                    Logowanie do systemu
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</main>