// h1 {
//   color: rgb(99, 99, 99);
// }

#kartaDiv {
  width: 530px;
  margin: auto;
}

.karta {
  background-color: rgba(255, 255, 255, 0.5);
  // opacity: 0.5;
}

#kodLogo {
  border-radius: 10px;
}

#logBut {
  margin-top: 10px;
  display: block;
  width: 100%;
}

h2.headertekst {
  text-align: center;
}

.flagi {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.flaga {
  cursor: pointer;
}
